.star-page-container {
  background-color: rgb(0, 0, 0);
  padding-top: 2.7vw;
}

.star-intro-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.5vw;
}

.star-icon-container {
  color: grey;
  font-size: 3vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  transition: 2s;
}

.blue-star-icon:hover {
  color: blue;
}
.white-star-icon:hover {
  color: white;
}
.yellow-star-icon:hover {
  color: yellow;
}
.orange-star-icon:hover {
color: orangered;
}
.red-star-icon:hover{
  color: red;
}

.stars-intro-heading {
  font-family: 'Knockout Punch';
  font-size: 5vw;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
}

.stars-intro-text {
  font-family: 'moondog fifteen';
  font-size: 1.75vw;
  color: grey;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
  margin-bottom: 8vw;
}

.stars-list-container {
  list-style: none;
  margin-right: 2.77777vw;
}


