.star-ordered-list {
  border: solid rgb(111, 111, 111) 2px;
  margin-bottom: 100px;
}

.star-ordered-list:hover {
  box-shadow: 0px 0px 3px 3px grey;
}

.star-data-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-content: space-evenly;
}

.star-name {
  text-align: center;
  color: rgb(170, 170, 170);
  font-size: 50px;
  transition: 2s;
}

.star-name:hover {
  color: rgb(112, 0, 0);
  font-size: 60px;
}

.star-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-image {
  width: 200px;
}


.star-right-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgb(216, 101, 0);
  padding-right: 10%;
}

.star-left-section,
.star-right-section {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.star-facts:hover {
  color: rgb(145, 0, 0);
}




.star-description-container {
  text-align: center;
  font-size: 20px;
  color: grey;
}