.sun-container {
  color: white;
  text-align: center;
  margin-bottom: 13vw;
}

.sun-headings-container {
  font-size: 2vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: orangered;
  margin-bottom: -1vw;
  text-decoration: underline;
}

.sun-main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4vw;
}

.sun-title-container {
  font-size: 5vw;
  color: rgb(255, 238, 0);
  transition: 2s;
}

.sun-title-container:hover {
  font-size: 7vw;
  color: orangered
}

.sun-sub-heading {
  text-align: center;
  border: solid red 2px;
}

.sun-facts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.75vw;
  margin-top: -5vw;
}

.sun-facts:hover {
  color: rgb(216, 101, 0);
}

.sun-description-container {
  font-size: 1.75vw;
  color: rgb(216, 101, 0);
  padding-right: 5%;
  text-align: justify
}

.sun-bottom-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.75vw;
}

.sun-description-container-p2 {
  font-size: 1.75vw;
  color: rgb(216, 101, 0);
  text-align: justify;
  padding-right: 10%;
  padding-left: 10%;
}

.sun-image {
  width: 13.5vw;
  margin-right: 5vw;
}






