.container-planets {
  background-color: black;
}

.planet-page-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding-top: 20px;
}

/* planet image section top */

.planet-image-list-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  list-style: none;
  gap: 100px;
}

.planet-image-container-top {
  display: flex;
  justify-content: center;
  align-items: center;
}


.mercury-image-top {
  width: 25%;
}

.venus-image-top {
  width: 45%;
}

.earth-image-top {
  width: 55%;
}

.mars-image-top {
  width: 55%;
}

.jupiter-image-top {
  width: 220%;
}

.saturn-image-top {
  width: 220%;
}

.uranus-image-top {
  width: 80%;
}

.neptune-image-top {
  width: 220%;
}

.pluto-image-top {
  width: 20%;
} 




/* Planet image section mid */

.sub-heading {
  text-align: center;
  padding-top: 20px;
  font-size: 30px;

  color: rgb(255, 140, 0);
  text-decoration: underline;
}

.sub-heading:hover {
  color: rgb(132, 0, 0);
  text-decoration: underline;
}

.planets-intro-text {
  text-align: justify;
  font-size: 25px;
  line-height: 30px;
  color: rgb(255, 140, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 220px;
  padding-right: 220px;
  padding-bottom: 200px;
  border-bottom: solid 3px white;
  margin-left: 40px;
  margin-right: 40px;
}

.planet-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 40px;
  padding-right: 40px;
}

.planet-main-container {
  color: white;
  height: 500px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid white 3px;
  padding-top: 50px;
  padding-bottom: 100px;
}


.planet-name {
  font-size: 40px;
  margin-top: -50px;
  color: rgb(255, 140, 0);
}

.planet-name:hover {
  color: rgb(132, 0, 0);
}

.planet-info-container {
  color: rgb(255, 140, 0);
  font-size: 18px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
}

.planet-quick-facts {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: space-evenly;
  font-size: 18px;
  color: rgb(255, 140, 0);
}

.planet-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.mercury-image-mid {
  width: 30%;
}

.venus-image-mid {
  width: 30%;
}

.earth-image-mid {
  width: 30%;
}

.mars-image-mid {
  width: 50%;
}

.jupiter-image-mid {
  width: 50%;
}

.saturn-image-mid {
  width: 50%;
}

.uranus-image-mid {
  width: 35%;
}

.neptune-image-mid {
  width: 60%;
}


/* planet image bottom section */

.planet-img-bottom-section {
  padding-left: 50px;
  padding-right: 50px;
}

.planet-image-list-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.planet-image-container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sun-image-bottom {
  width: 25%;
  border-radius: 10000px;
}

.mercury-image-bottom {
  width: 1.3%;
  margin-bottom: -250px;
}

.venus-image-bottom {
  margin-bottom: -800px;
  width: 2.5%;
}

.earth-image-bottom {
  margin-bottom: -550px;
  margin-right: 440px;
  width: 3.5%;
}

.mars-image-bottom {
  margin-bottom: -300px;
  margin-left: 500px;
  width: 3%;
}

.jupiter-image-bottom {
  margin-bottom: -100px;
  margin-left: 600px;
  width: 12%;
}

.saturn-image-bottom {
  margin-top: -700px;
  margin-right: 600px;
  width: 13%;
}

.uranus-image-bottom {
  margin-top: -800px;
  margin-left: 700px;
  width: 6%;
}

.neptune-image-bottom {
  margin-top: -100px;
  margin-right: 600px;
  width: 15%;
}

.pluto-image-bottom {
  width: 1%;
  margin-left: 1100px;
  margin-top: -700px;
}

