.container-planets {
  background-color: black;
  font-family: "moondog fifteen";
  margin-top: -2.7777vw;
}

.planet-page-title {
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
  color: grey;
  font-family: "moondog fifteen";
  padding-top: 5vw;
}

/* planet image section top */

.planet-image-list-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  list-style: none;
  gap: 8vw;
  margin-right: 3.47vw;
}

.planet-image-container-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mercury-image-top {
  width: 25%;
  animation: rotation 30s infinite linear;
}

.venus-image-top {
  width: 45%;
  animation: rotation 30s infinite linear;
}

.earth-image-top {
  width: 55%;
  animation: rotation 30s infinite linear;
}

.mars-image-top {
  width: 55%;
  animation: rotation 30s infinite linear;
}

.jupiter-image-top {
  width: 220%;
  animation: rotation 30s infinite linear;
}

.saturn-image-top {
  width: 220%;
  animation: rotation 30s infinite linear;
}

.uranus-image-top {
  width: 80%;
  animation: rotation 30s infinite linear;
}

.neptune-image-top {
  width: 220%;
  animation: rotation 30s infinite linear;
}

.pluto-image-top {
  width: 20%;
  animation: rotation 30s infinite linear;
}

/* Planet image section mid */

.sub-heading {
  text-align: center;
  padding-top: 1.35vw;
  font-size: 2vw;
  color: grey;
  text-decoration: underline;
}

.sub-heading:hover {
  color: rgb(132, 0, 0);
  text-decoration: underline;
}

.planets-intro-text-container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 5.5vw;
  border-bottom: solid 3px grey;
  margin-left: 2.777777vw;
  margin-right: 2.777777vw;
  font-size: 1.75vw;
  line-height: 2vw;
  color: rgb(255, 140, 0);
}

.planets-intro-text {
  text-align: center;
  font-size: 1.5vw;
}

.planet-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 2.77777vw;
  padding-right: 2.77777vw;
}

.planet-main-container {
  color: white;
  height: 30vw;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid rgb(255, 140, 0) 3px;
  padding-bottom: 5vw;
}

.planet-main-container-earth {
  color: white;
  height: 45vw;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid rgb(255, 140, 0) 3px;
  padding-top: 2vw;
  /* padding-bottom: 7vw; */
}

.planet-name {
  font-size: 2.77777vw;
  margin-top: -3.5vw;
  color: grey;
}

.planet-name:hover {
  color: rgb(34, 34, 34);
}

.planet-info-container {
  color: rgb(255, 140, 0);
  font-size: 1.5vw;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1.35vw;
  padding-right: 1.35vw;
  line-height: 2vw;
}

.planet-quick-facts {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  justify-content: space-evenly;
  font-size: 1.25vw;
  color: rgb(255, 140, 0);
}

.planet-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5vw;
}

.mercury-image-mid {
  width: 30%;
  animation: rotation 30s infinite linear;
}

.venus-image-mid {
  width: 30%;
  animation: rotation 30s infinite linear;
}

.earth-image-mid {
  width: 30%;
  animation: rotation 30s infinite linear;
}

.mars-image-mid {
  width: 50%;
  border-radius: 200px;
  animation: rotation 30s infinite linear;
}

.jupiter-image-mid {
  width: 50%;
  border-radius: 200px;
  animation: rotation 30s infinite linear;
}

.saturn-image-mid {
  width: 50%;
  border-radius: 200px;
  animation: rotation 30s infinite linear;
}

.uranus-image-mid {
  width: 35%;
  animation: rotation 30s infinite linear;
}

.neptune-image-mid {
  width: 60%;
  border-radius: 200px;
  animation: rotation 30s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.link-to-single-page {
  color: rgb(255, 140, 0);
  font-size: 2vw;
  text-decoration: none;
  margin-top: 2.777777vw;
}

.link-to-single-page:hover {
  color: rgb(132, 0, 0);
}

/* planet image bottom section */
/* 
.planet-img-bottom-section {
  padding-left: 3.5vw;
  padding-right: 3.5vw;
}

.planet-image-list-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.planet-image-container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sun-image-bottom {
  width: 25%;
  border-radius: 700vw;
}

.mercury-image-bottom {
  width: 1.3%;
  margin-bottom: -17.36111vw;
}

.venus-image-bottom {
  margin-bottom: -55.5555555vw;
  width: 2.5%;
}

.earth-image-bottom {
  margin-bottom: -38.194vw;
  margin-right: 30.5555vw;
  width: 3.5%;
}

.mars-image-bottom {
  margin-bottom: -20.83333vw;
  margin-left: 34.72vw;
  width: 3%;
}

.jupiter-image-bottom {
  margin-bottom: -7vw;
  margin-left: 41.66vw;
  width: 12%;
}

.saturn-image-bottom {
  margin-top: -48.61vw;
  margin-right: 41.66vw;
  width: 13%;
}

.uranus-image-bottom {
  margin-top: -800px;
  margin-left: 48.61vw;
  width: 6%;
}

.neptune-image-bottom {
  margin-top: -30vw;
  margin-right: 41.66vw;
  width: 15%;
}

.pluto-image-bottom {
  width: 1%;
  margin-left: 76.38vw;
  margin-top: -48.61vw;
} */

.all-planet-bottom-links {
  width: 100%;
  text-align: center;
  padding-top: 3.5vw;
  padding-bottom: 3.5vw;
}

.all-planets-back-home {
  font-family: "Knockout Punch";
  font-size: 2vw;
  color: grey;
  width: 100%;
  text-decoration: none;
}

.all-planets-back-home:hover {
  color: rgb(0, 46, 132);
}
