@media only screen and (min-width: 768px) {

.planet-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 2.77777vw;
  padding-right: 2.77777vw;
}

.planet-main-container-left,
.planet-main-container-right {
  color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid rgb(255, 140, 0) 3px;
  padding-top: 5vw;
  padding-bottom: 10vw;
}

.planet-main-container-earth {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid rgb(255, 140, 0) 3px;
  padding-top: 5vw;
  padding-bottom: 10vw;
}

.planet-name {
  font-size: 50px;
  color: grey;
}

.planet-name:hover {
  color: rgb(34, 34, 34);
}

.planet-info-container {
  color: rgb(255, 140, 0);
  font-size: 20px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1.35vw;
  padding-right: 1.35vw;
  line-height: 3vw;
}

.planet-quick-facts {
  display: flex;
  flex-direction: column;
  color: rgb(255, 140, 0);
}

.planet-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5vw;
}

.mercury-image-mid {
  width: 30%;
  animation: rotation 30s infinite linear;
}

.venus-image-mid {
  width: 30%;
  animation: rotation 30s infinite linear;
}

.earth-image-mid {
  width: 30%;
  animation: rotation 30s infinite linear;
}

.mars-image-mid {
  width: 50%;
  border-radius: 200px;
  animation: rotation 30s infinite linear;
}

.jupiter-image-mid {
  width: 50%;
  border-radius: 200px;
  animation: rotation 30s infinite linear;
}

.saturn-image-mid {
  width: 50%;
  border-radius: 200px;
  animation: rotation 30s infinite linear;
}

.uranus-image-mid {
  width: 35%;
  animation: rotation 30s infinite linear;
}

.neptune-image-mid {
  width: 60%;
  border-radius: 200px;
  animation: rotation 30s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.link-to-single-page {
  color: rgb(255, 255, 255);
  font-size: 2vw;
  text-decoration: none;
  margin-top: 2.777777vw;
}

.link-to-single-page:hover {
  color: rgb(132, 0, 0);
}

}













/* small screens */ 

@media only screen and (max-width: 767px) {

  .planet-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 2.77777vw;
    padding-right: 2.77777vw;
  }

  .planet-main-container-left, 
  .planet-main-container-right {
  color: white;
    display: grid;
   border-bottom: solid rgb(255, 140, 0) 3px;
    padding-top: 3vw;
    padding-bottom: 8vw;
  }
  
  .planet-main-container-left {
    grid-template-columns: 2fr 1fr;
  }

  .planet-main-container-right {
    grid-template-columns: 1fr 2fr;
  }
  
  .planet-main-container-earth {
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: solid rgb(255, 140, 0) 3px;
    padding-top: 3vw;
    padding-bottom: 8vw;
  }
  
  .planet-name {
    font-size: 5vw;
    margin-top: -3.5vw;
    color: grey;
  }
  
  .planet-name:hover {
    color: rgb(34, 34, 34);
  }
  
  .planet-info-container {
    color: rgb(255, 140, 0);
    font-size: 10px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1.35vw;
    padding-right: 1.35vw;
    line-height: 4vw;
  }
  
  .planet-quick-facts {
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    color: rgb(255, 140, 0);
  }
  
  .planet-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5vw;
  }
  
  .mercury-image-mid {
    width: 30%;
    animation: rotation 30s infinite linear;
  }
  
  .venus-image-mid {
    width: 30%;
    animation: rotation 30s infinite linear;
  }
  
  .earth-image-mid {
    width: 30%;
    animation: rotation 30s infinite linear;
  }
  
  .mars-image-mid {
    width: 50%;
    border-radius: 200px;
    animation: rotation 30s infinite linear;
  }
  
  .jupiter-image-mid {
    width: 50%;
    border-radius: 200px;
    animation: rotation 30s infinite linear;
  }
  
  .saturn-image-mid {
    width: 50%;
    border-radius: 200px;
    animation: rotation 30s infinite linear;
  }
  
  .uranus-image-mid {
    width: 35%;
    animation: rotation 30s infinite linear;
  }
  
  .neptune-image-mid {
    width: 60%;
    border-radius: 200px;
    animation: rotation 30s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  .link-to-single-page {
    color: rgb(249, 249, 249);
    font-size: 8px;
    text-decoration: none;
    margin-top: 2.777777vw;
  }
  
  .link-to-single-page:hover {
    color: rgb(132, 0, 0);
  }
  
  }
  