.container {
  padding-left: 2%;
  padding-right: 2%;
}

.article-page-title {
  font-size: 5vw;
  color: black;
  font-weight: bold;
  margin-left: 8%;
  margin-bottom: 3vw;
}

.article-content-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.article-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 1.4vw;
  padding-right: 1.4vw;
  color: black;
  list-style: none; 
  width: 95%;
}

.article-container {
  font-size: 2vw;
  text-align: center;
}


.main-container {
  text-align: center;
  font-size: 2vw;
}

.article-image-container:hover {
  transform: scale(1.05);
}

.article-image-container {
  transition: transform 0.3s ease-in-out
}

.article-image {
  width: 22vw;
  height: 13.5vw;
  border-radius: 1.25vw;
  padding: 0.7vw;
}

.article-title {
  font-family: 'moondog fifteen';
  font-size: 2vw;
  height: 6vw;
  padding-left: 8%;
  padding-right: 8%;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.article-title:hover {
  text-decoration: underline dotted;  
}

.topic-author-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-left: 1.35vw;
  padding-right: 1.35vw;
  font-size: 1.25vw;
  margin-top: 1vw;
}

.topic-container,
.author-container {
  display: flex;
  flex-direction: column;
}

.author-container:hover,
.topic-container:hover {
  color: grey;
}

.article-author-name,
.article-topic-name {
  margin-top: -0.01vw;
}

.article-author-name:hover,
.article-topic-name:hover {
  text-decoration: underline dotted;
  color: rgb(0, 130, 89);
}

.loading-all-articles {
  text-align: center;
}


.article-votes {
  font-size: 1.75vw;
}




