 
.art-dropdown {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin-top: 50px;
}

.art-dropdown-button {
  color: grey;
  font-size: 22px;
}
 
.art-dropdown-button:hover {
  color: rgb(0, 0, 142);
}

.art-dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  margin-top: 60px;
}

.art-dropdown-content a {
  float: none;
}

.art-dropdown-content a:hover {
  background-color: #ddd;
}

.topic-container-drop-down {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  background-color: rgb(143, 143, 143);
  margin-top: -25px;
}


.art-dropdown:hover 
.art-dropdown-content {
  display: block;
} 

.drop-down-topic-list {
  list-style: none;
} 

.topic-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.topic-button:hover {
  background-color: rgb(28, 0, 0);
  color: white;
}


