@media only screen and (max-width: 767px) {

.all-article-bottom-links {
  width: 100%; 
  text-align: center;
  padding-bottom: 10px;
}

.articles-back-home {
  font-family: 'Knockout Punch';
  font-size: 14px;
  color: grey;
  width: 100%;
  text-decoration: none;
}

.articles-back-home:hover {
  color: rgb(0, 46, 132);
}

}


@media only screen and (min-width: 768px) {

  .all-article-bottom-links {
    width: 100%; 
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  
  .articles-back-home {
    font-family: 'Knockout Punch';
    font-size: 25px;
    color: grey;
    width: 100%;
    text-decoration: none;
  }
  
  .articles-back-home:hover {
    color: rgb(0, 46, 132);
  }

}