.moon-page-sections {
  padding-right: 3%;
  padding-left: 3%;
}

.orbiting-planet-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.orbiting-mars-title,
.orbiting-jupiter-title,
.orbiting-saturn-title,
.orbiting-uranus-title,
.orbiting-neptune-title {
  text-align: center;
  font-size: 7vw;
  font-weight: bold;
  padding-top: 3%;
  border-top: solid white 3px;
  color: grey;
}

.orbiting-mars-title:hover {
  color: rgb(193, 55, 0);
}

.orbiting-jupiter-title:hover {
  color: rgb(191, 149, 57);
}

.orbiting-saturn-title:hover {
  color: #effb97;
}

.orbiting-uranus-title:hover {
  color: rgb(81, 162, 255);
}

.orbiting-neptune-title:hover {
  color: rgb(22, 0, 167);
}


.moon-page-des-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
  color: grey;
}

.moon-page-des-heading {
  font-size: 3.5vw;
}

.moon-page-des-heading:hover {
  color: blue;
}

.moon-page-description {
  font-family: "moondog fifteen";
  font-size: 1.7vw;
  text-align: justify;
}

.moon-page-list-container {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.name-dist-headings-container {
  font-size: 3vw;
  color: grey;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.moon-page-name,
.moon-page-dist {
  text-align: center;
}

.moon-page-name:hover,
.moon-page-dist:hover {
  color: blue;
}

.moon-list-container1 {
  list-style: none;
}

.moon-data-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-left: -40px;
  font-size: 2vw;
  color: grey;
}

.moon-data-container:hover {
  color: white;
}

.other-moons-title {
  text-align: center;
  font-size: 4vw;
  color: grey;
  margin-top: 7vw;
  border-top: white 1px solid;
  padding-top: 7vw;
}

.other-moons-title:hover {
  color: blue;
}

.moon-list-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: rgb(135, 0, 0);
  font-size: 1.5vw;
  margin-left: -40px;
}

.moon-array-containers {
  text-align: center;
}

.moon-array-containers:hover {
  color: white;
}
