.moon-page-container {
  background-color: rgba(198, 198, 198, 0.861);
  padding-bottom: 10px;
}


.moon-page-title {
  color: red;
  text-align: center;
}


.moon-page-list {
  list-style: none;
  color: rgb(255, 140, 0);
}





.moons-bottom-links {
  width: 100%; 
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.moons-back-home {
  font-family: 'Knockout Punch';
  font-size: 30px;
  color: rgba(189, 0, 170, 0.912);
  width: 100%;
  text-decoration: none;
}

.moons-back-home:hover {
  color: rgb(0, 46, 132);
}