.user-page-container {
  margin-top: 30px;
}

.user-page-title {
  text-align: center;
  font-size: 7vw;
  color: black;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
  justify-content: center;
  padding-right: 40px;
}

.user-container-main {
  border: solid rgb(0, 0, 0) 3px;
  border-radius: 1vw;
  width: 28vw;
}

.user-container-main:hover {
  box-shadow: 0px 0px 5px 5px rgba(141, 141, 141, 0.553);
}

.user-container-layout {
  display: grid;
  grid-template-rows: 2fr 3fr;
  align-items: center;
}

.user-name,
.user-username {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.user-name {
  font-size: 2.5vw;
}

.user-username {
  font-size: 2.25vw;
}

.user-img-container {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-img {
  width: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
