.single-article-container {
  background-color: rgb(255, 255, 255);
}

.single-article-title {
  text-align: center;
  color: rgb(253, 101, 74);
  font-size: 4vw;
  padding-left: 15%;
  padding-right: 15%;
  font-family: 'Moondog Fifteen'
  
}


.single-article-author {
  text-align: center;
  font-size: 3vw;
  color: rgb(253, 101, 74);
  font-family: 'Moondog Fifteen'
}

.single-article-author-name:hover {
  color: rgb(0, 46, 132);
}

.single-article-topic {
  padding: 20px;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.single-article-img-container {
  display: flex;
  justify-content: center;
}

.single-article-img {
  width: 40%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.single-article-body {
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
  font-size: 2.5vw;
  color: rgba(0, 38, 108, 0.912);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.single-article-created {
  text-align: center;
  font-size: 2.75vw;
  color: grey;
}

.votes-comment-count-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgb(225, 79, 79);
  align-items: center;
  font-size: 3vw;
}

.single-article-votes {
  font-size: 4vw;
}


