@media only screen and (max-width: 767px) {

  .single-articles-bottom-links {
    width: 100%; 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .single-articles-back-home {
    font-family: 'Knockout Punch';
    font-size: 14px;
    color: grey;
    width: 100%;
    text-decoration: none;
  }
  
  .single-articles-back-home:hover {
    color: rgb(0, 46, 132);
  }

}


@media only screen and (min-width: 768px) {

  .single-articles-bottom-links {
    width: 100%; 
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .single-articles-back-home {
    font-family: 'Knockout Punch';
    font-size: 25px;
    color: grey;
    width: 100%;
    text-decoration: none;
  }
  
  .single-articles-back-home:hover {
    color: rgb(0, 46, 132);
  }

}