.single-articles-bottom-links {
  width: 100%; 
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.single-articles-back-home {
  font-family: 'Knockout Punch';
  font-size: 3vw;
  color: grey;
  width: 100%;
  text-decoration: none;
}

.single-articles-back-home:hover {
  color: rgb(0, 46, 132);
}