.topics-bottom-links {
  width: 100%; 
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.topics-back-home {
  font-family: 'Knockout Punch';
  font-size: 30px;
  color: rgba(189, 0, 170, 0.912);
  width: 100%;
  text-decoration: none;
}

.topics-back-home:hover {
  color: rgb(0, 46, 132);
}