@media only screen and (max-width: 767px) {
.astronomy-bottom-links {
  width: 100%; 
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.astronomy-back-home {
  font-family: 'Knockout Punch';
  font-size: 14px;
  color: grey;
  width: 100%;
  text-decoration: none;
}

.astronomy-back-home:hover {
  color: rgb(0, 46, 132);
}

}



@media only screen and (min-width: 768px) {
.astronomy-bottom-links {
  width: 100%; 
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.astronomy-back-home {
  font-family: 'Knockout Punch';
  font-size: 25px;
  color: grey;
  width: 100%;
  text-decoration: none;
}

.astronomy-back-home:hover {
  color: rgb(0, 46, 132);
}

}