.galaxy-containers {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  border-bottom: solid rgb(255, 255, 255) 2px;
  margin-right: 40px;
}

.galaxies-page-header {
  color: grey;
  text-align: center;
  font-size: 50px;
}

.galaxy-intro-text {
  color: grey;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
  font-size: 17px;
}

.galaxy-title {
  text-align: center;
  font-size: 40px;
  color: grey;
}

.galaxy-title:hover {
  color: rgb(163, 163, 163);
  text-decoration: underline dotted;
}

.galaxy-top-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.galaxy-data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  padding-bottom: 70px;
  padding-top: 70px;
}

.general-info-container {
  font-size: 15px;
}

.galaxy-constellation-text:hover,
.galaxy-distance-text:hover,
.galaxy-size-text:hover,
.galaxy-type-text:hover,
.galaxy-star-count-text:hover {
  color: rgb(0, 146, 156);
}





.galaxy-mid-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.galaxy-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galaxy-image {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.timeline-heading,
.observation-heading,
.about-heading {
  text-align: center;
  color: grey;
  font-size: 25px;
}

.timeline-heading:hover,
.observation-heading:hover,
.about-heading:hover {
  color: rgb(180, 0, 0);
}



.galaxy-bottom-section {
  margin-bottom: 80px;
}
