.galaxies-data-container {
  list-style: none;
  border: solid red 5px;
}


.galaxy-containers {
  border: solid blue 2px;
  padding: 2%;
}

.galaxy-image {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}