.galaxy-page-container {
  background-color: black;
  padding-top: 1.35vw;
  font-family: 'moondog fifteen';
}


.galaxies-data-container {
  list-style: none;
  background-color: black;
  color: grey;
  font-family: 'moondog fifteen';
  text-align: justify;
  padding-bottom: 3%;
}

.galaxies-header {
  color: black;
  margin-left: 8%;
}