@media only screen and (max-width: 767px) {

.welcome-text-title {
  color: rgba(255, 255, 255, 0.709);
  text-align: center;
  font-size: 6vw;
  font-family: 'Moondog Fifteen';
  padding-top: 5vw;
  margin-top: -0.1px;
  margin-bottom: -2vw;
}

.welcome-text {
  color: rgba(255, 255, 255, 0.709);
  font-size: 3vw;
  text-align: center;
  font-family: 'Moondog Fifteen';
}


.intro-text {
  color: white;
  text-align:justify;
  line-height: 200%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1%;
  font-family: 'Moondog Fifteen';
}

.space-man-icon {
  text-align: center;
  font-size: 2.5vw;
}




.home-container {
    background-color: rgba(0, 0, 0, 0.91);
    height: 100%;
  }

  .intro-text {
    font-size: 12.5px; 
  }

}





@media only screen and (min-width: 768px) {

  .welcome-text-title {
    color: rgba(255, 255, 255, 0.709);
    text-align: center;
    font-size: 60px;
    font-family: 'Moondog Fifteen';
    padding-top: 5vw;
    margin-top: -0.1px;
    margin-bottom: -20px;
  }
  
  .welcome-text {
    color: rgba(255, 255, 255, 0.709);
    font-size: 40px;
    text-align: center;
    font-family: 'Moondog Fifteen';
  }
  
  
  .intro-text {
    color: white;
    text-align:justify;
    line-height: 200%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
    font-family: 'Moondog Fifteen';
  }
  
  .space-man-icon {
    text-align: center;
    font-size: 2.5vw;
  }
  

  .intro-text {
    font-size: 21.5px; 
  }

  .home-container {
    background-color: rgba(0, 0, 0, 0.91);
    height: 100%;
  }

}