.home-container {
  background-color: rgba(0, 0, 0, 0.91);
}

.welcome-text-title {
  color: rgba(255, 255, 255, 0.709);
  font-size: 40px;
  text-align: center;
  font-family: 'Moondog Fifteen';
  padding-top: 20px;
}

.welcome-text {
  color: rgba(255, 255, 255, 0.709);
  font-size: 30px;
  text-align: center;
  font-family: 'Moondog Fifteen';
}

.home-img-container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.home-background-img {
  width: 100%;
}

.intro-text {
  color: white;
  text-align:justify;
  line-height: 200%;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
  padding-bottom: 5%;
  font-family: 'Moondog Fifteen';
}

.portfolio-link {
  text-align: center;
  padding-bottom: 3%;
  font-size: 30px;
}

.portfolio-link:hover {
  color: gold;
}