.welcome-text {
  color: green;
  font-size: 50px;
  text-align: center;
}

.intro-text {
  color: blue;
  text-align:justify;
  padding-left: 20%;
  padding-right: 20%;
}

.solar-system-planets {
  list-style: none;
  width: 10%;
}

.home-background-img {
  display: flex;
  justify-content: right ;
  width: 80%;
}