.home-img-container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: 80px;
  margin-left: 40px;
}

.home-background-img {
  width: 35vw;
  max-width: 504px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.home-img-container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 10vw;
  padding-right: 10vw;
}

.home-background-img-bottom {
  width: 98.9vw;
  display: flex;
  justify-content: center;
  align-items: center;
}