@media only screen and (max-width: 767px) {
  .loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }

  .loading-text {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: opacity 0.75s, visibility 0.75s;
  }

  .loader-hidden {
    opacity: 0;
    visibility: hidden;
  }

  .loader::after {
    content: "";
    width: 10vw;
    height: 10vw;
    border: 5px solid rgba(116, 116, 116, 0.213);
    border-top-color: black;
    border-radius: 50%;
    animation: loading 1.5s ease infinite;
  }

  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
}

@media only screen and (min-width: 768px) {
  .loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }

  .loading-text {
    color: rgb(0, 0, 0);
    font-size: 60px;
    text-align: center;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: opacity 0.75s, visibility 0.75s;
  }

  .loader-hidden {
    opacity: 0;
    visibility: hidden;
  }

  .loader::after {
    content: "";
    width: 10vw;
    height: 10vw;
    border: 15px solid rgba(116, 116, 116, 0.213);
    border-top-color: black;
    border-radius: 50%;
    animation: loading 1.5s ease infinite;
  }

  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
}
