.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: opacity 0.75s, visibility 0.75s;
  margin-top: -250px;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 10vw;
  height: 10vw;
  border: 15px solid rgba(116, 116, 116, 0.213);
  border-top-color: black;
  border-radius: 50%;
  animation: loading 1.2s ease infinite;
}

@keyframes loading {
  from{
    transform: rotate(0turn)
  }
  to{
    transform: rotate(1turn)
  }
}


.loading-home {
  color: rgb(0, 0, 0);
  font-size: 4vw;
  margin-top: 100px;
  text-align: center;
}


