.dropdown {
  border: none;
  outline: none;
  color: grey;
  font-size: 1.32vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  font-style: none;
}

.dropdown-button {
  border: none;
  outline: none;
  color: grey;
  font-size: 4vw;
  background-color: inherit;
  justify-content: top;
}

.dropdown-button:hover {
  color: white;
}

.dropdown-content-planets,
.dropdown-content-explore {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 5.5555555vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-planets {
  margin-top: 35vw;
  margin-right: 2.7777777vw;
  width: 10.416vw;
}

.dropdown-content-explore {
  margin-top: 22vw;
  margin-right: 1vw;
  width: 12.5vw;
}


.dropdown-content-planets a {
  float: none;
  color: black;
  padding: 0.83vw 1.11vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-explore a {
  float: none;
  color: black;
  padding: 0.83vw 1.11vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-planets a:hover {
  background-color: #ddd;
}


.dropdown-content-explore a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content-planets, 
.dropdown:hover .dropdown-content-explore {
  display: block;
} 










