@media only screen and (max-width: 767px) {

.top-bar-container {
  margin-top: -0.55vw;
  border-style: solid;
  border-color: grey;
  border-width: 0.25vw;
}

.top-bar {
  background-color: rgba(0, 0, 0, 0.91);
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 10vw;
  font-size: 3vw;
  padding-left: 3vw;
  padding-right: 3vw;
}

.nav-left {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
}

.nav-left:hover {
  background-color: #04AA6D;
}

.home-link {
  color: rgba(188, 188, 188, 0.726);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.home-link:hover {
  color: white;
  text-decoration: underline;
}

.articles-link,
.articles-link-user {
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.articles-link {
  width: 23%;
}

.articles-link:hover {
  color: white;
  text-decoration: underline;
  background-color: rgb(0, 136, 136);
}

.nav-center {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.nav-right {
  display: flex;
  justify-content: center;
  margin-right: 5vw;
  width: 14%;
}

.nav-right:hover {
  background-color: rgb(200, 157, 0);
}

.articles-link-user:hover {
  color: white;
  text-decoration: underline;
}

}


@media only screen and (min-width: 768px) {

.top-bar-container {
  margin-top: -0.40vw;
  border-style: solid;
  border-color: grey;
  border-width: 0.25vw;
}

.top-bar {
  background-color: rgba(0, 0, 0, 0.91);
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100px;
  font-size: 2.2vw;
  padding-left: 3vw;
  padding-right: 3vw;
}

.nav-left {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
}

.nav-left:hover {
  background-color: #04AA6D;
}

.home-link {
  color: rgba(188, 188, 188, 0.726);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.home-link:hover {
  color: white;
  text-decoration: underline;
}

.articles-link,
.articles-link-user {
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.articles-link {
  width: 23%;
}

.articles-link:hover {
  color: white;
  text-decoration: underline;
  background-color: rgb(0, 136, 136);
}

.nav-center {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.nav-right {
  display: flex;
  justify-content: center;
  margin-right: 5vw;
  width: 14%;
}

.nav-right:hover {
  background-color: rgb(200, 157, 0);
}

.articles-link-user:hover {
  color: white;
  text-decoration: underline;
}

}