.comments-section-container {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10vw;
  
}

.comments-title {
  text-align: center;
  font-size: 4vw;
  text-decoration: underline;
  margin-bottom: -1vw;
  color: rgba(158, 158, 158, 0.763);
  border-top: solid rgb(88, 88, 88) 3px;
  margin-left: 4vw;
  margin-right: 4vw;
  padding-top: 10vw;
}

.comment-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.comments-container {
  display: flex;
  flex-direction: column;
  border: solid rgb(135, 135, 135) 2px;
  border-radius: 5vw;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-right: 40px;
}

.comments-container:hover {
  box-shadow: 0px 0px 5px 5px grey;
}

.comment-body-votes-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  text-align: justify;
  column-gap: 3vw;
  color: rgb(149, 149, 149);
}

.user-comments-username {
  font-size: 4vw;
  margin-bottom: -1vw;
  color: rgb(228, 78, 78);
}

.comment-data-votes {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
}

.comment-data-posted {
  text-align: center;
  font-size: 2.5vw;
  color: grey;
}

.comment-text {
  font-size: 2.5vw;
  text-align: justify;
}

.delete-button-container {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 2vw;
  padding-right: 2vw;
}

.delete-button {
  border-radius: 5vw;
  height: 4vw;
  width: 15vw;
  font-size: 2vw;
  background-color: black;
  color: white;
}

.no-comments-notice {
  text-align: center;
  font-size: 2.5vw;
  color: grey;
  margin-top: 5vw;
}